.new-book {
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input {
    color: inherit;
    font-family: inherit;
    padding: 0.5rem 0.6rem;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--color-secondary-light-2);
    width: 100%;
    max-width: 100%;
    input {
      font-size: 1.5rem;
      padding: 0.1rem;
      transition: all 0.5s;
      width: 100%;
      max-width: 100%;
      &:focus {
        outline: none;
        background-color: var(--color-secondary-light-2);
      }
    }
    label {
      font-weight: 700;
      margin-bottom: 0.5rem;
      display: block;
    }
  }

  &__action {
    text-align: right;
    button {
      font-family: inherit;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 0.3rem;
    }
  }
}
