.app-title-container {
  display: flex;
  //   align-items: baseline;
  line-height: 1;
  //   gap: 2.4rem;
  &__app-title {
    font-family: var(--font-title);
    color: var(--color-grey-light-3);
    font-size: 2rem;
    margin-left: -3.2rem;
    margin-top: 7.1rem;
    background-image: linear-gradient(
      15deg,
      var(--color-secondary),
      var(--color-secondary-light) 60%
    );

    background-clip: text;
    color: transparent;
  }

  .capital-text {
    font-size: 3.3rem;
    letter-spacing: -0.2rem;
  }
}
