.book-view-container {
  background-color: var(--color-grey-light-3);
  flex: 1;
  background-image: url(../img/tanalee-youngblood-CMdQcxsWZE0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem -10rem;
  background-blend-mode: luminosity;
  transition: all 3s;
  // background: url("../img/Annasblommor-green.svg") top no-repeat;
  // background-size: cover;
  &:hover {
    background-color: transparent;
  }

  &__heading {
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: 0.1rem;
    padding-top: 2.2rem;
    line-height: 1;
    color: var(--color-primary-light);
  }
}

.book-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.2rem;
  padding: 2.4rem;
}
