.book-view-container {
  background-color: var(--color-grey-light-3);
  background-image: url(../img/tanalee-youngblood-CMdQcxsWZE0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem -10rem;
  background-blend-mode: luminosity;
  transition: all 3s;
  // background: url("../img/Annasblommor-green.svg") top no-repeat;
  // background-size: cover;
  overflow: auto;
  &:hover {
    background-color: transparent;
  }
}

.book-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.2rem;
  padding: 2.4rem;
}
