.book-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2.4rem;

  &__heading {
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
    padding-top: 2.2rem;
    line-height: 1;
    color: var(--color-primary-light);
  }

  &__page-info {
    font-size: 1.6rem;
    color: var(--color-primary-light);
    letter-spacing: 0.1rem;
  }

  .total-pages {
    justify-self: end;
  }

  .total-books {
    grid-column: 2 / -1;
    justify-self: end;
  }

  strong {
    font-size: 1.8rem;
  }
}

.empty-message {
  padding: 2rem;
  font-weight: 600;
  font-size: 1.8rem;
}
