.card {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 1.2rem;
  transition: all 0.3s;
  background-color: var(--color-secondary-light-1);

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  }
}
